*.sh
!start-mcts-with-id.sh
!stop.sh

.idea/
*/lib/
.env
secret-*

mcts/google_firing_range.js
mcts/google_tests.js
mcts/tester.js

*.tmp/

*.swp
*.idx
*.aux
*.bbl
*.blg
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.fls
*.synctex.gz
*.toc
*.fdb_latexmk
.DS_Store
node_modules/
res/
tmp/
paper.pdf
_minted*/
plots/*.pdf
output.txt
output.json
